<footer>
  <div class="main-footer">
     <ul>
      <li>{{#link-to "public.terms"}}{{t "terms"}}{{/link-to}}</li>
      <li>{{#link-to "public.policy"}}{{t "policy"}}{{/link-to}}</li>
      <li>{{#link-to "public.contact"}}{{t "contact"}}{{/link-to}}</li>
      <li class="right social">{{#link-to "public.main"}}<i class="mdi mdi-twitter"></i>{{/link-to}}</li>
      <li class="right social">{{#link-to "public.main"}}<i class="mdi mdi-facebook"></i>{{/link-to}}</li>
      <li class="right">{{#link-to "public.main"}}{{t "folowUs"}}{{/link-to}}</li>
    </ul>
  </div>
</footer>
