<div class="col s12 m6">
  <div class="vote-item">
    <img src="assets/images/kanye.png" alt="">
    <div class="percentage-bar">
      <span class="up"><i class="mdi mdi-thumb-up"></i>64<small>%</small></span>
      <span class="down">36%<i class="mdi mdi-thumb-down"></i></span>
    </div>
  </div>
</div>
