<header>
  {{navbar}}
  <div class="jumbo">
    <h2>{{t "howItWorks"}}</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla sint ut ab delectus accusantium 
      modi adipisci vel ex eos corporis odit dolorum officiis fugiat, optio debitis nesciunt qui 
      numquam provident.
    </p>
  </div>
</header>
