<header>
  {{navbar}}
  <div class="jumbo">
  <h2>{{t "terms"}}</h2>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio dignissimos nisi possimus quia 
    dolorem aliquam sunt, dolor aliquid voluptate voluptas, quidem nam vitae, incidunt recusandae 
    praesentium nihil placeat exercitationem dicta?
  </p>
</div>
</header>
