<header>
  {{navbar}}
  <div class="jumbo">
  <h2>{{t "policy"}}</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quam accusantium nam 
    rerum libero dolorum porro, expedita optio neque laudantium magni iusto officiis ad, ipsam in 
    beatae temporibus fugit totam!

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod delectus, ratione error, eaque 
    eius odit quasi nulla aut sed, ipsam repudiandae id perspiciatis temporibus cumque animi 
    voluptatem nesciunt impedit mollitia.
  </p>
</div>
</header>
