<header>
  {{navbar}}
  <div class="jumbo">
  <h2>{{t "contact"}}</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus beatae consequuntur odio, 
    a dolor adipisci perspiciatis reiciendis maxime at facere numquam, culpa quae, temporibus 
    vel iste. Modi beatae magnam eius?
  </p>
</div>
</header>
